<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .avatar {
                vertical-align: left;
                width: 23%;
                height: 23%;
                border-radius: 50%;
                padding-top: 10px;
                padding-right: 10px;
                padding-bottom: 10px;
                padding-left: 10px;
            }
            
            ul.a {
                list-style-type: square;
                text-align: left;
                font-size: 20px;
            }
        </style>
    </head>

    <body>
       
                <!-- Project Section -->
        <section id="about" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Our Project</h2>
                         <p style="text-align:justify">
                             A 3 month sailing journey through the Inside Passage to raise awareness of marine debris. Along the way, we will perform beach cleanups along the remote coastlines of BC and Alaska, and collect data as citizen scientists to support conservation research. We are reframing the face of adventure, and inspiring others to be stewards of the earth as they venture into the outdoors. 
                         </p>
                    <h3>Our Objectives</h3>     
                         <p style="text-align:justify">
                            <ul class="a">
                                <li>To be a vessel for citizen science and community partnerships</li></p>
                                <li>To monitor and collect marine debris and provide insightful and high quality data</li></p>
                                <li>To connect and liaise with conservationists, researchers and local changemakers</li></p>
                                <li>To reframe the face of adventure, and inspire others to be stewards of our oceans</li></p>
                                <li>To embark on our journey with respect for the First Nations People whose lands and waters we will be travelling through</li></p>
                            </ul>
                        </p>

                </div>
            </div>
        </section>
        <!-- Crew Section -->
        <section id="crew" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>About Us</h2>

                    <img src="/img/nic.JPG" alt="Avatar" class="avatar">
                    <img src="/img/nic.JPG" alt="Avatar" class="avatar">
                    <img src="/img/nic.JPG" alt="Avatar" class="avatar">
                    <img src="/img/nic.JPG" alt="Avatar" class="avatar">
                    
                    <p style="text-align:justify">We are four friends: Mathilde Gordon, Daniel Greenwood, Kirsten Mathison, and Nic Annau, passionate about the protection of our oceans, and connected by our love for the outdoors. We are a team of cavers, climbers, kayakers, circus performers, astronomers, engineers, scientists, educators and campaigners, with various complimentary (and some completely random) skills. We haven’t spent more than a few days at a time together, and hail from different sides of the Pacific Ocean, but we are uniting for a cause close to our hearts. </p>

                </div>
            </div>
        </section>

        <!-- Partners Section -->
        <section id="partnerships" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Potential Partnerships and Projects</h2>
                    
                    <p style="text-align:justify">
                        Whether you are an individual, organisation, researcher/research station, not-for-profit, skiff operator, sailor, fellow adventurer etc, we would love to hear how we can work together on this project. Let’s see what we can make happen! 
                    </p>

                </div>
            </div>
        </section>

        <!-- Contact Section -->
        <section id="contact" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contact Us</h2>
                    
                    <p style="text-align:center">
                     sailingforscience@gmail.com		https://passageadventures.org/ 	 Facebook / Instagram / Twitter
                        <br>Phone(s): 	+1 778 980 7423 <i>(Mathilde)</i> 	+1 250 886 5421 <i>(Kirsten)</i>	+1 250 507 2692 <i>(Nic)</i>
                    </p>

                </div>
            </div>
        </section>


    </body>
</head>
