<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .avatar {
                vertical-align: left;
                width: 23%;
                height: 23%;
                border-radius: 50%;
                padding-top: 10px;
                padding-right: 10px;
                padding-bottom: 10px;
                padding-left: 10px;
            }
            
            ul.a {
                list-style-type: square;
                text-align: left;
                font-size: 20px;
            }
        </style>
    </head>

    <body>
        <!-- About Section -->
        <section id="about" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>About Us</h2>

                    <img src="/img/nic.JPG" alt="Avatar" class="avatar">
                    <img src="/img/nic.JPG" alt="Avatar" class="avatar">
                    <img src="/img/nic.JPG" alt="Avatar" class="avatar">
                    <img src="/img/nic.JPG" alt="Avatar" class="avatar">
                    
                    <p style="text-align:justify">We are four friends: Mathilde Gordon, Daniel Greenwood, Kirsten Mathison, and Nic Annau, passionate about the protection of our oceans, and connected by our love for the outdoors. We are a team of cavers, climbers, kayakers, circus performers, astronomers, engineers, scientists, educators and campaigners, with various complimentary (and some completely random) skills. We haven’t spent more than a few days at a time together, and hail from different sides of the Pacific Ocean, but we are uniting for a cause close to our hearts. </p>
                    <h2>Our Project</h2>
                    <p style="text-align:justify">We are planning a 3 month sailing journey through the Inside Passage to raise awareness, and collect data, of marine debris along the coastlines of BC and Alaska.  We hope to reframe the face of adventure and inspire others to be stewards of the earth as they venture into the outdoors. </p>
                    <h3>Our Purpose</h3>
                  
                    <p style="text-align:justify">
                        <ul class="a">
                            <li>To be a vessel for citizen science and community partnerships</li></p>
                            <li>To monitor and collect marine debris and provide insightful and high quality data</li></p>
                            <li>To connect and liaise with conservationists, researchers and local changemakers</li></p>
                            <li>To reframe the face of adventure, and inspire others to be stewards of our oceans</li></p>
                            <li>To embark on our journey with respect for the First Nations People whose lands and waters we will be travelling through</li></p>
                        </ul>
                    </p>

                </div>
            </div>
        </section>

        <!-- Dirty Problem Section -->
        <section id="problem" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Our Dirty Problem</h2>
                    
                    <h3>Marine Debris</h3>
                    
                    <p style="text-align:justify">
                    Marine debris is classified as man-made items that end up in the marine environment through littering or dumping. It injures and kills marine wildlife, affects human health and coastal habitats and is a major pollution issue around the world. Most of the marine debris we find today is made of plastic, which never disappears. As a result our oceans and beaches are littered with micro and macro plastics, which come from a variety of different sources, from all over the world. By 2050, it is estimated that there will be more plastic in the ocean than fish, by weight. However, we, and many others around our globe, are determined to not let this happen.
                    </p>
                    <h3>Interconnected Oceans</h2>
                    <p style="text-align:justify">
                    Marine debris is an international problem that one country cannot fix alone. In the years following the 2011 Tsunami in Japan, many people along the coastlines of BC and Alaska saw just how connected our oceans are, as tonnes of marine debris washed up on their shores as a result of oceanic currents. Likewise, in Australia, much of our marine debris comes from South-East Asia, and Australia’s trash ends up on another coastline in another part of the world. In order to solve this huge issue, we need to work together, and tackle the problem from a variety of different angles. From behavioural change on the individual level, to changing international and national legislation as a “top down” approach, we can make a difference. 
                    </p>
                    <h3>Our Purpose</h3>
                  
                    <p style="text-align:justify">
                        <ul class="a">
                            <li>To be a vessel for citizen science and community partnerships</li></p>
                            <li>To monitor and collect marine debris and provide insightful and high quality data</li></p>
                            <li>To connect and liaise with conservationists, researchers and local changemakers</li></p>
                            <li>To reframe the face of adventure, and inspire others to be stewards of our oceans</li></p>
                            <li>To embark on our journey with respect for the First Nations People whose lands and waters we will be travelling through</li></p>
                        </ul>
                    </p>

                </div>
            </div>
        </section>
    </body>
</head>
