<!DOCTYPE html>
<html>
<head>
    
<meta name="viewport" content="width=device-width, initial-scale=1">


<body>
<!-- Crew Section -->
<section id="about" class="container text-center">
            <hr style="border-color:#164ca3">
            <div class="row" >
                <div class="col-lg-8 col-lg-offset-2">
                <div>
                    <h2>About Us</h2>

                    <img src="/img/mathilde_dan.jpg" alt="Avatar" class="avatar">
                    <img src="/img/kirsten_nic.JPG" alt="Avatar" class="avatar">
                    
                    <p style="text-align:justify">We are four friends: Mathilde Gordon, Daniel Greenwood, Kirsten Mathison, and Nic Annau, passionate about the protection of our oceans, and connected by our love for the outdoors. We are a team of sailors, cavers, climbers, kayakers, circus performers, astronomers, engineers, scientists, educators and campaigners, with various complimentary (and some completely random) skills. We haven’t spent more than a few days at a time together, and hail from different sides of the Pacific Ocean, but we are uniting for a cause close to our hearts. </p>
            </div>
<hr style="border-color:#164ca3">
            <div class="B">
                <h3>Mathilde Gordon</h3>
                <h5>Scientist, Conservationist, Marine Debris Campaigner and...kayaker?</h5>
                <img style="float:left" src="../img/mathilde.png" alt="Avatar" class="avatar">
                <p style="text-align:justify">In the Summer of 2018, my best friend and I sea kayaked 2,042km from Alaska to Canada, to raise awareness about marine debris and women in adventure. Growing up with a family of outdoor enthusiasts, I have always had a strong passion for the outside world, which has developed into a determination to protect it. This has led to a career in ecology and conservation, with some campaigning on the side. The issue of marine debris lies close to my heart. I have completed a number of beach cleanups, and am passionate about data collection and community education. I have also been living single-use plastic-free since 2016 and will never go back! mathilde@seize-change.org</p>
            </div>
<hr style="border-color:#164ca3">
            <div class="C">
                <h3>Daniel Greenwood</h3>
                <h5>Environmental Manager, Mechanic, Nature Boy</h5>
                <img style="float:right" src="../img/dan.png" alt="Avatar" class="avatar">
                <p style="text-align:justify">‘Nature Boy’ was an attempted taunt by boyhood friends, but is a nickname I have proudly turned into a professional career and lifestyle. With my interests in environmentalism and adventure I have always endeavored to expand my knowledge, share information and empower people to make positive changes in their environment. After completing my tertiary education I have built upon my experiences in a number of professional roles that include; ecology, engineering, team supervision and education. The main lesson that I have learnt, is that, in the fight for our future ecosystems, there is no down time, the face of adventure must be adapted to not only explore our natural world, but continually protect it. Sailing is a dream, sailing in a clean ocean is priceless! Contact: daniel@seize-change.org</p>
            </div>
<hr style="border-color:#164ca3">
            <div class="B">
                <h3>Kirsten Mathison</h3>
                <h5>Kirsten Mathison - Explorer, Story teller, Caver.</h5>
                <img style="float:left; transform:rotate(180deg);" src="../img/kirsten.JPG" alt="Avatar" class="avatar">

                <p style="text-align:justify">
                    When I moved to the coast from the land-locked prairies, I immediately got caught up in the adventure of sailing, snorkelling, and beach combing. I fell head over heels in love with the sea. I realized the ocean’s importance as a environmental and cultural nexus, and have focussed my professional and volunteer work on exploring and conserving it. I work with a number of organizations, working on environmental campaigns and facilitating workshops and classroom activities to help people connect with our waterways and oceans.
                Contact: kirsten@seize-change.org
                </p>
            </div>
<hr style="border-color:#164ca3">
            <div class="C">
                <h3>Nic Annau</h3>
                <h5>Scientist, Astrophysicist, Dog Lover, Nerd!</h5>
                <img style="float:right" src="../img/nic.JPG" alt="Avatar" class="avatar">
                <p style="text-align:justify">Growing up sailing the Salish Sea with my family, I’ve craved proximity to the ocean my entire life. The ocean still evokes novel emotions in my life, shaping my desire to use science as a tool for conservation. The night sky also presents me with similar novelty, and from an understanding of the most violent scales of the universe came a profound appreciation for the fragility of our home planet and its sensitive ecosystems. My experience in astrophysics led to honing my skills as a data scientist and passionate science communicator. I strongly believe in the power of science and data to effect cultural change and highlight our obligation to protect and cherish our only home. Contact: nic@seize-change.org</p>
            </div>
        </div>
    </div>
</section>

</body>