<!-- Project Section -->
<section id="cause" class="container text-center">
	<hr style="border-color:#164ca3">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
	        <div class="A", style="padding: 20px">
	            <h2>Marine Debris</h2>
	                 <p style="text-align:justify">
						Marine debris is classified as man-made items that end up in the marine environment
						through littering or dumping. It injures and kills marine wildlife, affects human health and
						coastal habitats and is a major pollution issue around the world. Most of the marine debris we
						find today is made of plastic, which never “disappears”. By 2050, it is estimated that there will
						be more plastic in the ocean than fish, by weight. However, we, and many others around our
						globe, are determined to not let this happen.
	                 </p>
	                 <a href="https://www.nationalgeographic.com/magazine/2018/06/plastic-planet-waste-pollution-trash-crisis/"><button type="button" class="btn btn-primary">Read More</button></a>
	    	</div>
	    </div>
        <div class="col-lg-8 col-lg-offset-2">
			<div class="C", style="padding: 20px">
				<hr style="border-color:#164ca3">
	            <h2>Interconnected Oceans</h2>
	            <img src="https://encounteredu.com/uploads/gallery-thermohaline-circulation-hero.jpg", style="width: 70%; align-items: center; padding-bottom: 25px">
	                 <p style="text-align:justify">
						Marine debris is an international problem that one country cannot fix alone. In the years
						following the 2011 Tsunami in Japan, residents along the coastlines of BC and Alaska saw just
						how connected our oceans are, as tonnes of trash washed up on their shores as a result of
						oceanic currents. In order to solve an issue of this magnitude, we need to work together, and
						tackle the problem from a variety of different angles; from behavioural change on the individual
						level, to changing international and national legislation.
	                 </p>
	        </div>
	    </div>

	    <div class="col-lg-8 col-lg-offset-2">
			<div class="E", style="padding: 20px">
				<hr style="border-color:#164ca3">
	            <h1>Hope for a Grim Reality</h1>
	            <h3>Global Awareness</h3>
					<p style="text-align:justify">
					Two decades ago, the average person had not been exposed to the concept of marine
					debris. This knowledge has since spread, but not wide enough, and not with the sense of
					urgency it requires. We need the world to know more, and we want the everyday person to
					understand the problem and most importantly, how to make a difference. In order to inspire
					others to also be stewards of our oceans, we will educate, lead by example, and continue the
					conversation.
	                </p>
    	            <iframe width="680" height="400" src="https://www.youtube.com/embed/bXL0Of7VfUo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    	    </div>
    	</div>
	    </div>
	</div>
</section>