<!-- Project Section -->
<section id="citizenscience" class="container text-center">
	<hr style="border-color:#164ca3">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
	        <div class="C", style="padding: 20px">
	          	<h2>Citizen Science</h2>	
					<p style="text-align:justify">  
						Citizen science is the collection and analysis of data relating to the natural world by
						members of the public. Citizen science initiatives help us to recognize human-made issues,
						address accountability within those issues, and take action to reduce their scope. The ability of
						citizens to access and contribute to marine debris data collection, has been paramount to
						tracing how much of it there is, where it comes from and, most importantly, how to stop it from
						entering our oceans.
	        </div>

	        </div>
	    </div>
	</div>
</section>