    <!-- Contact Section -->
    <section id="contact" class="container text-center">
        <hr style="border-color:#164ca3">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p style="text-align:center">
                    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    
                    <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
                
                        <!--<br> Facebook / Instagram / Twitter-->
                        <br>+1 778 980 7423 <i>(Mathilde)</i> 	+1 250 886 5421 <i>(Kirsten)</i>	+1 250 507 2692 <i>(Nic)</i>
                </p>

            </div>
        </div>
    </section>


                    
