<section id ="objectives" class="container text-center">
	<hr style="border-color:#164ca3">
    <div class="B", style="padding-top: 10px; padding-bottom: 10px">
            <h3>Our Objectives</h3>     
                 <p style="text-align:justify">
                    <ul class="a">
                        <li>To be a vessel for citizen science and community partnerships</li></p>
                        <li>To monitor and collect marine debris and provide insightful and high quality data</li></p>
                        <li>To connect and liaise with conservationists, researchers and local changemakers</li></p>
                        <li>To reframe the face of adventure, and inspire others to be stewards of our oceans</li></p>
                        <li>To embark on our journey with respect for the First Nations People whose lands and waters we will be travelling through</li></p>
                    </ul>
                </p>
       </div>
        <hr style="border-color:#164ca3">

</section>