<section id="partnerships" class="container  text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <h2>Potential Partnerships and Projects</h2>
                    
                    <p style="text-align:justify">
                        Whether you are an individual, organisation, researcher/research station, not-for-profit, skiff operator, sailor, fellow adventurer etc, we would love to hear how we can work together on this project. Let’s see what we can make happen! 
                    <br>
                    </p>
                    </div>
                <div class="B">
<br>
                    <h3>Data Collection and Research</h3>
                    <img style="float:left" src="https://cdn-images-1.medium.com/max/1600/0*FSm3GZEOmBWA8k-4.jpg" alt="Avatar" class="avatar">
                    <p style="text-align: left">
                    In Australia, marine debris cleanups and the resulting data collected are entered into an online database. We have identified similar organisations and projects here in BC and Alaska, which we hope to partner with.
                    </p>
                    <p style="text-align: left">
                    Conducting scientific research (observational or experimental) for other projects and studies 
                    </p>
                </div>

                <div class="C">
                    <hr style="border-color:#164ca3">
                    <h3>Beach Cleanups</h3>
                    <img style="float:right" src="/img/beach.png" alt="Avatar" class="avatar">
                    <p style="text-align: justify">
                    Collaborating with your local community to conduct a beach cleanup </p>
                    <p style="text-align: justify">
                    Helping remove the trash we collect from remote beaches (anyone with a skiff)
                    </p>
                    <p style="text-align: justify">
                    Helping dispose of the trash we collect from remote beaches (ideas on how to not clog up local landfills, and where we can recycle)
                    </p>
                </div>

                <div class="B" style="padding-bottom: 120px">
                    <hr style="border-color:#164ca3">
                    <h3>Outreach</h3>
                    <img style="float:left" src="/img/outreach.png" alt="Avatar" class="avatar">
                    <p style="text-align: justify">
                    School/public/virtual presentations </p>
                    <p style="text-align: justify">
                    Plastic-free living workshops
                    </p>
                    <p style="text-align: justify">
                    Coordinating with local groups and initiatives
                    </p>
                </div>

                <div class="E">
                    <hr style="border-color:#164ca3">
                    <h3>Join Us!</h3>
                    <img style="float:right" src="/img/beach.png" alt="Avatar" class="avatar">
                    <p style="text-align: justify">
                    We are available as ambassadors for an existing campaign</p>
                    <p style="text-align: justify">
                    Plastic-free living workshops
                    </p>
                    <p style="text-align: justify">
                    Do you want to come along for a section of the trip? The more hands the better!
                    </p>
                </div>
            </div>
        </section>