<!-- Project Section -->
<section id="philosophy" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
	        <div class="A", style="padding: 20px">
	            <h2>Our Project</h2>
	                 <p style="text-align:justify">
	                     A 3 month sailing journey through the Inside Passage to raise awareness of marine debris. Along the way, we will perform beach cleanups along the remote coastlines of BC and Alaska, and collect data as citizen scientists to support conservation research. We are reframing the face of adventure, and inspiring others to be stewards of the earth as they venture into the outdoors. 

	                 </p>
	                
	                <a href="../SailingProjectBrief.pdf" download><button class="btn C"><i class="fa fa-download"></i> Download Full PDF Project Brief</button></a>
	        </div>
	    </div>
	</div>
</section>