<!-- Presentations Section -->
<section id="cause" class="container text-center">
	<hr style="border-color:#164ca3">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
	        <div class="A", style="padding: 20px">
	            <h2>Workshops and Presentations</h2>
	                 <p style="text-align:justify">
		              We have developed a series of presentations and workshops to deliver to school/community groups along our journey. The presentations are designed to inform the community about the issue of marine debris, and empower them to make positive changes in their day to day lives. The presentations align with learning outcomes in the BC curriculum, and are adaptable for a variety of ages and formats. 
    			<p><a href="../Copy of Workshop and Presentation Overview.pdf" download><button type="button" class="btn btn-primary">Download Workshop and Presentation Overview</button></a>	
			
	    	</div>
	    </div>
   
    	
	</div>
</section>
