{% include css/bootstrap.min.css %}
{% include css/grayscale.css %}
.navbar-custom-color {
    background-color: #0e2244;
}

.avatar {
    vertical-align: left;
    width: 45%;
    border-radius: 1%;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    image-orientation: from-image;
}

ul.a {
    list-style-type: square;
    text-align: left;
    font-size: 20px;
}
table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}